node_modules


sketches_of_the_store

sql_complex_queries

not_added_pictures_of_the_goods

.git
КопияБД.rar
api-worker-error-log.txt
api-user-error-log.txt
api-worker-error-log.txt
express-error-log.txt

package-lock.json