<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/addProduct.css">
    <title>Добавить товар</title>
</head>
<body>
    <header>
        include layout/menu.pug
        include layout/myProfile.pug
    </header>
    <main>
        <form action="/addProduct" method="POST" enctype="multipart/form-data">
            <label for="product-name">Название товара</label>
            <input type="text" id="product-name" title="Наименование товара" name="productName">
            <label for="product-image">Картинка товара</label>
            <input type="file" name="filedata" accept="image/png">
            <label for="product-amount">Стоимость товара</label>
            <input type="number" id="product-amount" title="Стоимость товара" name="productAmount">
            <label for="description-product">Описание товара</label>
            <textarea id="description-product" name="descriptionProduct"></textarea>
            <input type="submit" class="addProduct-button" value="Добавить товар">
        </form>
    </main>
</body>
</html>