<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <title>Home</title>
</head>
<body>
    <header>
        include layout/menu.pug
        <div class="authorization">
            if(successAuthentication)
                <details class="details">
                    <summary>#{userName}</summary>
                    <div class="dropdown-menu">
                        <a href="signOut" class="sign-out">Выйти</a>
                    </div>
                </details>
            else  
                <a href="signUp" class="signUp">Зарегистрироваться</a>
                <a href="signIn" class="signIn">Войти</a>
        </div>
    </header>
    <main>
    </main>
</body>
</html>