<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <title>Главная</title>
</head>
<body>
    <header>
        include layout/menu.pug
        include layout/myProfile.pug
    </header>
    <main>
    </main>
    include layout/footer.pug
</body>
</html>