<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/productList.css">
    <title>Каталог товаров</title>
</head>
<body>
    <header>
        include layout/menu.pug
        include layout/myProfile.pug
    </header>
    <main>
        <div class="product-list">
            each product in productList 
                <div class="product">
                    <h3 class="product-name"> #{product.product_name}</h3>
                    <img src="#{product.product_url_img}"/>
                    <p>Цена: <span class="product_amount">#{product.product_amount}</span></p>
                    <button class="add-to-cart" data-product_id="#{product.product_id}">Добавить в корзину</button>
                </div> 
        </div>        
    </main>
    if(successAuthentication)
        <script src="javascript/addToCart.js" defer></script>
    include layout/footer.pug
</body>
</html>