<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <link rel="stylesheet" href="styles/salesByRangeForm.css">
    <title>Продажи за период</title>
</head>
<body>
    include layout/menu.pug
    <main>
        <form action="/salesByRange" method="POST" class="form sales-range">
            <h1 class="title">Продажи за период</h1>
            <label for="startDate">Введите начало периода</label>
            <input type="date" id="startDate" name="startDate">
            <label for="endDate">Введите конец периода</label>
            <input type="date" id="endDate" name="endDate">
            if(error)
                <div>#{error}</div>
            <div class="submit-button-wrap">
                <button class="btn submit-button">Показать</button>
            </div>
        </form>
    </main>
    include layout/footer.pug
</body>
</html>