<!DOCTYPE html>
<html lang="en">
<head>
    include layout/header.pug
    <title>Сотрудники</title>
</head>
<body>
    include layout/menu.pug
    </main>
    include layout/footer.pug
</body>
</html>