main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

form {
    background: #fff;
    padding: 2%;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}

form h1 { 
    text-align: center;    
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.5px;
    margin-bottom: 30px;
}

form input {
    width: 98%;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin: 0px 0 5px 0;
    padding: 6px 1%;
}

form label {
    font-size: 14px;
    display: block;
    font-weight: 600;
    text-align: left;
}

.addProduct-button {
    color: #fff;
    background: rgb(224, 113, 113);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 101%;
    padding: 6px 12px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}
