main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.add-position-form {
    background: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #d8dee2;
    border-radius: 12px;
    display: grid;
    margin-bottom: 20px;
}

.add-position-form h1 {
    text-align: center;
}

.add-position-button-wrap {
    width: 100%;
    text-align: center;
}

.message {
    text-align: right;
    margin-top: 5px;
    color: #ff000094;
    font-size: 18px;
}

/* @media (max-width: 600px) {
    .add-position-form {
        max-width: 269px;
    }
} */

@media (max-width: 699px) {
    .add-position-form {
        margin-top: 70px;
    } 
}