main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
}

.add-worker-form {
    background: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #d8dee2;
    border-radius: 12px;
    display: grid;
    margin-bottom: 20px;
}

.add-worker-button-wrap {
    width: 100%;
    text-align: center;
}

.position {
    padding: 20px 0 5px 0px;
}

.btn {
    min-width: 300px;
}

@media (min-width: 500px) and (max-width: 800px) {
    .add-worker-form {
        width: 400px;
    }
}