main {
    height: auto;
}

.cart-title {
    text-align: center;
    margin-bottom: 20px;
}

.main-container {
    display: grid;
    justify-content: center;
}

.cart-items {
    display: grid;
}

.cart-items > div,
.total-amount > div:not(:last-child) {
    margin: 0 0 10px 0;
    background: #fff;
    border-radius: 10px;
}

.total-amount-label > p {
    display: inline;
}

.product {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 30px 20px;
    transition: 0.25s ease-in;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    -moz-box-shadow:    2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    box-shadow:         2px 2px 0px 0px rgba(48, 47, 46, 0.3);
}

.product:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-remains-wrap span {
    display: inline;
}

.product-image-wrap {
    max-width: 100px;
    margin: 0 auto;
}

.product-image-wrap img {
    width: 100%;
    height: auto;
    margin: 0 5px;
}

.product-property {
    display: grid;
}

.product-caption {
    padding: 0 20px;
}

.product-name {
    font-size: 20px;
    height: 45px;
    margin-bottom: 30px;
}

.product-name a {
    color: #333;
    width: 140px;
    display: block;
    word-break: break-all;
}

.product-name a:hover {
    color: #777;
}

.menu-control-button {
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    border: none;
    color: gray;
}

.menu-control-button:hover {
    text-decoration: none;
    color:#71c2c2;
    cursor: pointer;
}

.count-buttons {
    display: grid;
    grid-template-columns: 31px 30px 34px;
    color: #666;
}

.count-buttons .count-value {
    border: 1px solid #ddd;
    display: inline-block;
    height: 38px;
    text-align: center;
    vertical-align: top;
    width: 31px;
    border-left: none;
    border-right: none;
    font-size: 14px;
    line-height: 33px;
    color:#666;
    margin: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.count-buttons button {
    box-shadow: none;
    background:#fff;
    color: #ababab;
    font-size: 18px;
    font-weight: normal;
    overflow: hidden;
    padding: 0;
    border: 1px solid#ddd;
    display: inline-block;
    height: 38px;
    text-align: center;
    vertical-align: top;
    width: 31px;
    line-height: 1.5;
    outline: none;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    margin: 0;
    box-sizing: border-box;
}
.count-buttons button:hover:not([disabled]) {
    border-color:#aaa;
    color:#333;
}
.count-buttons button i {
    font-style: normal;
    box-sizing: border-box;
}

.count-buttons .button-minus {
    border-radius: 8px 0 0 8px;
    border-right: none;
}
.count-buttons .button-plus {
    border-radius: 0 8px 8px 0;
    border-left: none;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
}

.product-price  {
    text-align: right;
}

.price-block {
    font-size: 25px;
    color:#333;
    position: relative;
}

.price-block > .price-current {
    font-weight: bold;
}

.product-remains {
    padding-top: 5px;
}

.product-remains {
    display: block;
}

.total-amount-label {
    font-size: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: max-content max-content;
}

.total-amount-count {
    margin-right: 5px;
}

.total-amount-label .price {
    font-weight: 501;
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
}

.total-amount-label .price span {
    max-width: 75px;
    overflow: hidden;
}

.total-amount-label .price .ruble-icon {
    height: 16px;
}

.buy-button {
    display: block;
    cursor: pointer;
    color: #fff;
    background: #71c2c2;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 47px;
    box-shadow: 0px 2px 0 #09090938;
}

.buy-button:hover {
    background: #71c2c2b9;
}

.buy-button:active {
    background: #6bb6b6;
}

.empty_cart_wrap {
    display: grid;
    place-items: center;
}

.empty_cart {
    margin-top: 20px;
    width: 150px;
    fill: #aaa;
}

@media (min-width: 1001px) {
    .main-container {
        grid-template-columns: 68% minmax(302px,25%);
    }

    .total-amount {
        width: 100%;
    }

    .cart-items {
        width: 94%;
    }

    .product-property {
        grid-template-columns: 1fr 93px 155px;
    }

    .empty_cart_wrap {
        height: calc(100vh - 250px);
    }
}

@media (max-width: 1000px) {
    main {
        margin-top: 70px;
    }

    .main-container {
        padding: 0 10px;
    }

    .total-amount-button button {
        padding: 10px;
    }

    .product-info {
        grid-area: product-info;
    }

    .product-property > div:nth-child(2) {
        grid-area: count-buttons;
    }

    .product-price {
        grid-area: product-price;
    }

    .product-property {
        grid-template-areas: 
        'product-info count-buttons'
        'product-info product-price';
    }

    .count-buttons {
        justify-content: right;
        margin-top: -4px;
    }

    .product-remains-wrap span {
        display: inline-block;
        min-width: 131px;
    }
}

@media (max-width: 699px) {
    .product-caption {
        padding: 0;
    }

    h1 {
        color: #f5f5f5;
        position: fixed;
        top: 0;
        z-index: 4;
        font-size: 22px;
        font-weight: normal;
        left: calc(50% - 41px);
        padding: 6px 0;
    }

    .empty_cart_wrap {
        height: calc(100vh - 150px);
    }

    .empty_cart {
        width: 50px;
    }
}

@media screen and (max-width: 430px) {
    .product {
        grid-template-columns: initial;
    }

    .product-image-wrap {
        display: none;
    }

    .total-amount-button {
        justify-content: initial;
    }
}