main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 80px;
}

.edit-product-properties-form {
    background: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #d8dee2;
    border-radius: 12px;
    display: grid;
    margin-bottom: 20px;
}

.categories {
    margin-top: 20px;
}

.save-changes-button-wrap {
    width: 100%;
    text-align: center;
}

.btn {
    min-width: 300px;
}

.material-design-textarea-wrap {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}
.material-design-textarea {
    width: calc(100% - 23px);
    height: 80px;
    padding: 30px 0 8px 23px;
    outline: none;
    border: none;
    color: black;
    z-index: 1;
    background: none;
}

.material-design-label-for-textarea {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgba(99, 98, 98, 0.54);
    border-radius: 5px 5px 0 0;
    background: rgba(244, 242, 242, 0.96);
    transition: .3s;
}
.material-design-textarea:hover + .material-design-label-for-textarea {
    background: rgba(226, 226, 226, 0.96);
    border-bottom: 1px solid rgba(22, 22, 22, 0.54);
}

.material-design-label-for-textarea::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: calc(100% + 1px);
    border-bottom: 2px solid rgb(224, 113, 113);
    transform: translateX(-100%);
}
.material-design-label-for-textarea span {
    position: absolute;
    top: 15px;
    left: 0;
    transition: all .3s ease;
    color: rgba(0,0,0,.54);
    padding-left: 23px;
    font-size: 19px;
}
.material-design-textarea:focus + .material-design-label-for-textarea span,
.material-design-textarea:valid + .material-design-label-for-textarea span {
    transform: translateY(-50%);
    font-size: 14px;
    color: rgb(224, 113, 113);
}
.material-design-textarea:focus + .material-design-label-for-textarea::after,
.material-design-textarea:valid + .material-design-label-for-textarea::after {
    transform: translateX(0%);
    transition: transform .5s ease;
}

.material-design-textarea:valid + .material-design-label-for-textarea::after {
    border-bottom: 2px solid rgb(104, 219, 104);
}
.material-design-textarea:valid + .material-design-label-for-textarea span {
    color: rgb(104, 219, 104);
}