* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
}

@font-face {
    font-family: SourceSansProRegular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

body {
    height: 100%;
    font-family: SourceSansProRegular;
    background: #f2f2f2;
}

header {
    display: grid;
    background: #24292e;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    grid-template-columns:  minmax(150px, 1fr) minmax(150px, 500px);
    height: 20px;
}

menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    list-style-type: none;
}

main {
    height: calc(100% - 79px);
}

menu li {
    padding: 0 5px;
}

.my-profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    justify-content: right;
    justify-items: center;
}

.my-profile a,
menu li a {
    color: #fff;
}

.my-profile > a:hover,
menu li a:hover {
    border-bottom: 2px solid #fff; 
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.details {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    position: relative;
}

.dropdown-menu {
    padding: 0 0 5px 0;
}

.dropdown-menu > a {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    color: #fff;
}

.dropdown-menu > a:hover {
    background:#fff;
    color: black;
}

footer {
    height: 20px;
    padding: 10px;
    background: #24292e;
    color: #fff;
    text-align: center;
    margin-top: -20px;
}

/* Убирает стрелки из поля с типом number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}
/* Убирает стрелки из поля с типом number */