* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: linear-gradient(90deg, rgb(117, 214, 206) 0%,
                                        rgb(180, 59, 59) 50%,
                                        rgb(58, 32, 153) 100%);
}

header {
    display: grid;
    background: #24292e;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    grid-template-columns:  minmax(150px, 1fr) minmax(150px, 500px);
    height: 20px;
}

menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    list-style-type: none;
}

menu li {
    padding: 0 5px;
}

.authorization {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    justify-content: right;
    justify-items: center;
}

.authorization a,
menu li a {
    color: #fff;
}

.authorization > a:hover,
menu li a:hover {
    border-bottom: 2px solid #fff; 
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
}

.details {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0 10px;
    border-radius: 3px;
    position: relative;
}

.dropdown-menu {
    padding: 0 0 5px 0;
}

.dropdown-menu > a {
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    color: #fff;
}

.dropdown-menu > a:hover {
    background:#fff;
    color: black;
}

/* Убирает стрелки из поля с типом number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}
/* Убирает стрелки из поля с типом number */