main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.message {
    position: fixed;
    bottom: 0;
    left: 0;
    background: grey;
    color: #f5f5f5;
    z-index: 2;
    text-align: center;
}

.my_profile_form {
    background: #fff;
    /* padding: 20px; */
}

.my_profile_form input {
    color: #000000b8;
}

.cross-icon,
.correct-icon {
    position: absolute;
    top: 20.5px;
    right: 23px;
    width: 0; /* самый простой способ сделать иконку невидимой*/
    height: 15px;
    transition: width .2s ease-out;
}

/* размер для иконок в полях */
.my_profile_form .active {
    width: 15px;
}

.button_wrap {
    margin-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 10px;
    /* запрет выделения текста */
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background: grey;
    box-shadow: inset 0 0 0px 2px #acacac;
}

.button_wrap__confirm {
    display: none;
}

.button_wrap__confirm.show {
    display: grid;
}

.button_wrap__button {
    /* padding: 10px 5px; */
    /* width: 100%; */
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 40px 10px 0;
    z-index: 1;
}

.button_wrap .icon {
    position: absolute;
    right: 0;
    background: rgba(0,0,0,0.03);
    width: 40px;
    height: 25px;
    padding: 6.5px 0;
    border-radius: 0 10px 10px 0;
    transition: .3s ease-in;
    fill: #f5f5f5;
    margin: 2px 0px 2px -2px;
}

.err__compare_passwords {
    text-align: right;
    padding-top: 5px;
    color: #ff0000a6;
}

.repeat_password_wrap_readonly {
    display: none;
}

.material-design-input__readonly:hover + .material-design-label-for-input {
    background: rgba(244, 242, 242, 0.96);
    border-bottom: 1px solid rgba(99, 98, 98, 0.54);
}

.material-design-input__readonly + .material-design-label-for-input span {
    transform: translateY(-90%);
    font-size: 14px;
}

.material-design-input__readonly:focus + .material-design-label-for-input span,
.material-design-input__readonly:valid + .material-design-label-for-input span {
    color: rgba(0,0,0,.54);
}

.material-design-input__readonly:focus + .material-design-label-for-input::after,
.material-design-input__readonly:valid + .material-design-label-for-input::after {
    transform: translateX(-100%);
}

.material-design-input:valid + .material-design-label-for-input::after {
    border-bottom: 2px solid rgb(224, 113, 113);
}

.material-design-input:valid + .material-design-label-for-input span {
    color: rgb(224, 113, 113);
}

.material-design-input:valid + .material-design-label-for-input.valid::after  {
    border-bottom: 2px solid rgb(104, 219, 104);
}
.material-design-input:valid + .material-design-label-for-input.valid span {
    color: rgb(104, 219, 104);
}

@media (min-width: 700px) {
    .message {
        width: calc(100% - 20px);
        padding: 20px 10px;
    }

    .button_wrap {
        transition: .2s ease-in-out;
    }

    .button_wrap__button {
        cursor: pointer;
    }

    .button_wrap:hover {
        box-shadow: inset 0 0 0px 2px #acacac, 1px 1px 2px #959595;
    }
}

@media (max-width: 699px) {
    main {
        margin-top: 50px;
    }

    h1 {
        position: fixed;
        top: 4px;
        left: calc(50% - 69.066px);
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 0;
        color: rgba(255,255,255,0.92);
        z-index: 4;
    }

    .message {
        width: calc(100% - 10px);
        padding: 10px 5px;
    }
}