main {
    /* display: grid; */
}

h1 {
    text-align: center;
}

.order-items {
    display: grid;
    justify-content: center;
}


.total-amount {
}

.product {
    display: grid;
    grid-template-columns: max-content 1fr;
    cursor: pointer;
}

.product {
    display: grid;
    padding: 30px 10px 30px 0;
    border: 1px solid #fff;
    transition: 0.25s ease-in;
    margin: 5px 10px;
    background:#fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    -moz-box-shadow:    2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    box-shadow:         2px 2px 0px 0px rgba(48, 47, 46, 0.3);
}

.product:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product > div {
    margin: 5px 10px;
}

.product-image-wrap {
    max-width: 100px;
    margin: 0 auto;
}

.product-image-wrap img {
    width: 100%;
    height: auto;
}

.product-property {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, .5fr));
}

.product-name {
    font-size: 20px;
    /* height: 45px; */
    margin-bottom: 40px;
    color: #333;
}

.product-name:hover {
    color: #777;
}

@media (min-width: 925px) {
    .order-items {
        grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
    }
}
@media (min-width: 350px) and (max-width: 924px) {
    .order-items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 420px));
    }
}
@media (max-width: 349px) {
    .order-items {
        grid-template-columns: repeat(auto-fit, minmax(270px, 320px));
    }

    .product-image-wrap {
        max-width: 80px;
    }
}