.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.head {
    font-size: 20px;
}

.body {
    font-size: 17px;
    color: rgba(0,0,0, 0.7);
}

.head, .category {
    display: grid;
}

.category {
    position: relative;
    /* border-top: 1px solid #55545447; */
}

.category::before,
.category:last-child::after {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    left: 5px;
    height: 1px;
    background: #0000003d;
}

.category::before {
    top: 0;
}

.category:last-child::after {
    bottom: 0;
}

.message-wrap {
    display: grid;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    z-index: 10;
}

.message {
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: #555454;
    color: #fff;
}

@media (min-width: 700px) {
    .toolbar {
        display: none;
    }

    .head, .category {
        grid-template-columns: .5fr .5fr 60px;
        padding: 0 10px;
    }

    .head > div {
        padding-bottom: 15px;
    }

    .category {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .category .name {
        white-space: nowrap;
        line-height: 30px;
    }

    .category:hover {
        background: rgba(0, 0, 0, 0.1);
    }

    .message-wrap {
        top: 5px;
    }
}

@media (max-width: 699px) {
    main {
        margin-top: 70px;
    }

    h1 {
        position: fixed;
        top: 4px;
        left: calc(50% - 96.2px);
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 0;
        color: rgba(255,255,255,0.92);
        z-index: 4;
    }

    .cross-white-icon {
        width: 20px;
        height: 15px;
    }

    .message-wrap {
        top: 45px;
    }

    .head,
    .category > div:last-child {
        display: none;
    }

    .category.active {
        background: rgba(0, 0, 0, 0.1);
    }

    .category > div:not(:last-child) {
        width: calc(100 - 10px);
        display: grid;
        grid-template-columns: 130px 1fr;
        padding: 5px 5px;
    }

    .category > div:before {
        content: attr(data-label);
        font-size: 16px;
        text-align: left;
    }

    .toolbar {
        display: grid;
        align-items: center;
        text-align: center;
        background: linear-gradient(to bottom, #4d4d4d 0%, #1a1a1a 100%);
        color: #fff;
        position: fixed;
        left: 0;
        width: calc(100% - 10px);
        padding: 0 5px;
        z-index: 6;
        transition: .3s;
        height: 40px;
    }

    .top-toolbar {
        grid-template-columns: 30px 1fr 30px;
        top: -50px;
    }

    .bottom-toolbar {
        grid-template-columns: 30px 30px;
        justify-content: center;
        bottom: -50px;
    }

    .bottom-toolbar__pencil-blocked-icon,
    .bottom-toolbar__pencil-icon.blocked {
        display: none;
    }

    .bottom-toolbar__pencil-blocked-icon {
        cursor: no-drop;
    }

    .bottom-toolbar__pencil-icon.blocked + .bottom-toolbar__pencil-blocked-icon {
        display: initial;
    }

    .top-toolbar.active {
        top: 0;
    }

    .bottom-toolbar.active {
        bottom: 0;
    }
}