html, 
body, 
main {
    height: auto;
}

a {
    color: black;
}

body {
    display: grid;
    
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    border-radius: 12px;
    background: linear-gradient(45deg, #4d4d4d 0%, #1a1a1a 100%);
}

main {
    grid-area: main;
    display: grid;
    justify-items: center;
}

footer {
    grid-area: footer;
    margin-top: 20px;
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: center;
}
.product {
    display: grid;
    justify-content: center;
    justify-items: center;
    background: #fff;
    margin: 5px 10px;
    padding: 10px 0;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    -webkit-box-shadow: 2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    -moz-box-shadow:    2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    box-shadow:         2px 2px 0px 0px rgba(48, 47, 46, 0.3);
    transition: .3s ease-in;
}
.product:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.product a,
.product-price,
.add-to-cart {
    margin: 5px 0;
}

.product .product-name {
    font-weight: normal;
    font-size: 20px;
}
.product-name a:hover {
    color: #777;
    cursor: pointer;
}

.product .add-to-cart {
    cursor: pointer;
    width: 170px;
    border-radius: 10px;
    font-size: 16px;
    padding: 7px 0;
    background:#fff;
    border: 2px solid#d9d9d9;
}

.product .add-to-cart a {
    transition: .3s;
}

.product .add-to-cart:hover {
    background: #71c2c2;
    color: white;
    width: 200px;
}

.product .add-to-cart:hover a {
    color: white;
}

.product-price {
    font-size: 30px;
    color:#333;
}

.product-price > .product_amount {
    font-weight: bold;
}

.ruble-icon {
    width: 21px;
    height: 22px;
    margin-left: -7px;
}

@media (min-width: 700px) {
    body {
        grid-template-areas: 
        'header header'
        'aside main'
        'footer footer';
        grid-template-columns: 220px 1fr;
    }

    aside {
        padding-top: 10px;
        /* padding-right: 5px; */
        margin-left: 10px;
    }

    aside .active a {
        border-bottom: 1px solid #f2f2f2;
    }

    .product-categories {
        list-style-type: none;
    }

    .product-categories > li > a {
        display: block;
        color: #f2f2f2;
        font-size: 17px;
        /* transition: all .2s; */
        width: calc(100% - 40px);
        padding: 10px 10px 5px 10px;
        margin: 10px;
    }

    .product-categories > li > a:hover {
        background: linear-gradient(to bottom, #333, #4d4d4d);
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 699px) {
    body {
        grid-template-areas: 
        'header header'
        'aside aside' 
        'main main'
        'footer footer';
        grid-template-columns: 20% 1fr;
    }

    main {
        margin-top: 75px;
    }
    
    aside {
        margin-top: 80px;
    }
}