main {
    margin: 20px auto;
    width: 80%;
}

.product-wrapper {
    background: #fff;
    display: grid;
    grid-template-columns: minmax(100px, 150px) 1fr 1fr;
}

.product-price {
    font-size: 25px;
    color:#333;
}

.product-price > .price-current {
    font-weight: bold;
}

.product-image-wrap img {
    max-width: 150px;
    height: auto;
}

.fa-warehouse {
    position: relative;
    transition: 0.25s;
}

.fa-warehouse:hover::after {
    content: attr(data-title);
    position: absolute;
    left: -30px;
    top: 19px;
    z-index: 1; 
    background:rgb(224, 93, 93);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 5px 0;
    border-radius: 5px;
    width: 80px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
}