main {
    display: grid;
    justify-items: center;
}

.product-list {
    width: auto;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 250px));
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.product img{
    border-radius: 3px;
}



