main {
    margin: 20px auto;
    width: 80%;
}

.product-name {
    font-size: 22px;
    margin: 10px 0;
}

.product-wrapper {
    background: #fff;
    display: grid;
    grid-template-columns: minmax(100px, 150px) 1fr 1fr;
    box-shadow: 02px 2px 0px 0px rgba(48, 47, 46, 0.3);
    padding: 30px 20px;
    border-radius: 10px;
}

.product-price {
    font-size: 25px;
    color:#333;
}

.product-price > .price-current {
    font-weight: bold;
}

.product-image-wrap img {
    max-width: 150px;
    height: auto;
}