main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20% auto;
}

form.reset-password-form {
    display: grid;
    background: #fff;
    padding: 40px;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}

form.reset-password-form h1 { 
    text-align: center;    
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.5px;
    margin-bottom: 30px;
}

form.reset-password-form input {
    background-color: #fff;
    border: 1px solid #d1d5da;
    margin: 0px 0 5px 0;
    padding: 6px 8px;
}

form.reset-password-form label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.reset-password-button {
    color: #fff;
    background: rgb(224, 113, 113);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}