main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.reset-password-form {
    display: grid;
    background: #fff;
    padding: 40px;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}

.reset-password-form h1 { 
    text-align: center;    
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -.5px;
    margin-bottom: 30px;
}

