@media (min-width: 700px) {
    main {
        min-height: calc(100vh - 122px);
    }

    .date-range-wrap {
        display: grid;
        grid-template-columns: 160px 150px 100px;
        justify-content: left;
        align-items: end;
        padding: 10px 10px 10px 8px;
        background: grey;
        margin: -20px 0 20px 0;
    }

    .date-input {
        padding: 10px;
        margin-right: 10px;
        border: none;
        color: rgba(0, 0, 0, .7);
        transition: .3s;
        /* z-index: 1; */
        position: relative;
    }

    .date-input:hover {
        background: rgba(255,255,255,0.1);
        color: #fff;
        cursor: pointer;
    }

    .date-input-wrap {
        position: relative;
    }

    .date-input-wrap label {
        display: block;
        color: #f2f2f2;
        margin-bottom: 5px;
    }

    .update-data {
        width: max-content;
        border: none;
        background: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 4px;
    }

    .update-data__button_content {
        display: none;
    }

    .update-data:hover {
        background: rgba(255,255,255,0.1);
    }

    .done-icon {
        width: 30px;
        height: 30px;
        fill: #fff;
        pointer-events: none;
        margin-bottom: -4px;
    }
}

@media (min-width: 850px) {
    .custom-table__head,
    .custom-table__body .row {
        grid-template-columns: [name] minmax(200px, 1fr) 
                               [category] minmax(200px,1fr) 
                               [amount] minmax(60px,1fr) 
                               [count] minmax(110px, 1fr) 
                               [client] minmax(180px, 1fr) 
                               [date] 112px;
    }
}

@media (min-width: 700px) and (max-width: 849px) {
    .custom-table__head {
        display: none;
    }

    .custom-table__body {
        display: grid;
        grid-template-columns: .5fr .5fr;
    }

    .custom-table__body .row {
        text-align: right;
        justify-items: right;
        padding: 20px 10px;
    }

    .custom-table__body .row:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 5px;
        width: calc(100% - 10px);
        height: 1px;
        background: #0000003d;
        bottom: 0;
    }

    .custom-table__body .row__data {
        width: 100%;
        display: grid;
        grid-template-columns: 60px 1fr;
        margin: 5px 0;
    }

    .custom-table__body .row__data:last-child {
        margin-right: 5px;
    }

    .custom-table__body .row__data::before {
        content: attr(data-label);
        font-size: 16px;
        text-align: left;
    }
}

@media (max-width: 699px) {
    main {
        margin-top: 40px;
    }

    h1 {
        position: fixed;
        top: 4px;
        left: calc(50% - 99.265px);
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 0;
        color: rgba(255,255,255,0.92);
        z-index: 4;
    }

    .custom-table__body .row {
        padding: 20px 5px;
    }

    .date-range-wrap {
        padding: 10px 0 10px 5px;
        background: grey;
    }

    .date-input-wrap input,
    .date-input-wrap label {
        color: #f5f5f5;
    }

    .date-input-wrap input, 
    .date-input-wrap label {
        width: calc(100% - 15px);
        margin-bottom: 5px;
    }

    .date-input-wrap label {
        display: block;
    }

    .date-input-wrap input {
        background: rgb(177, 177, 177);
        padding: 5px 0 5px 5px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 0px 0 #717171;
        cursor: pointer;
    }

    .update-data {
        background: rgb(115, 115, 115);
        margin-top: 5px;
        width: calc(100% - 10px);
        padding: 7px 5px;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        box-shadow: inset 0 0 0px 2px #acacac;
        outline: none;
        color: #f2f2f2;
        cursor: pointer;
    }

    .update-data svg {
        display: none;
    }
}