main {
    width: 100%;
    display: grid;
    justify-content: center;
}

.sign-up-form {
    background: #fff;
    width: 100%;
    padding: 20px;
    margin-top: 10%;
    border: 1px solid #d8dee2;
    border-radius: 12px;
    display: grid;
    align-items: center;
}

.sign-up-form h1 { 
    text-align: center;
    font-size: 20px;
}

.signUp-button-wrap {
    width: 100%;
    text-align: center;
}
.signUp-button {
    
    min-width: 300px;
    max-width: 400px;
}

@media screen and (max-width: 999px) {
    form {
        padding: 20px;
        margin: 30px 10px;
    }
}

@media screen and (min-width: 1000px) {
    form {
        min-width: 400px;
        max-width: 500px;
    }
}

