main {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
}

.return-button-wrap {
    width: 100%;
}

.signUp-button-wrap {
    width: 100%;
    text-align: center;
}

.err__compare_passwords {
    text-align: right;
    padding-top: 5px;
}

.cross-icon,
.correct-icon {
    position: absolute;
    top: 20.5px;
    right: 23px;
    width: 0; /* самый простой способ сделать иконку невидимой*/
    height: 15px;
    transition: width .2s ease-out;
}

.active {
    width: 15px;
}

.material-design-input:valid + .material-design-label-for-input::after {
    border-bottom: 2px solid rgb(224, 113, 113);
}

.material-design-input:valid + .material-design-label-for-input span {
    color: rgb(224, 113, 113);
}

.material-design-input:valid + .material-design-label-for-input.valid::after  {
    border-bottom: 2px solid rgb(104, 219, 104);
}
.material-design-input:valid + .material-design-label-for-input.valid span {
    color: rgb(104, 219, 104);
}

