main {
    width: 100%;
    margin-top: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
}

a {
    color:#0366d6;
    text-decoration: none;
}

.login-form {
    background: #fff;
    width: 100%;
    padding: 20px;
    border: 1px solid #d8dee2;
    border-radius: 12px;
    display: grid;
}

.login-form h1 {
    text-align: center;
}

.signIn-button-wrap {
    width: 100%;
    text-align: center;
}
.signIn-button {
    min-width: 300px;
    max-width: 400px;
    outline: none;
}

.account-action {
    background: #fff;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #d8dee2;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 0.5fr));
}

.account-action .passwordReset {
    text-align: right;
}