<menu>
    if(isWorker)
        <li><a href="/">Главная</a></li>  
        <li><a href="productList">Список товаров</a></li>
        <li><a href="addProduct">Добавить товар</a></li>
    else
        <li><a href="/">Главная</a></li>  
        <li><a href="productList">Список товаров</a></li>
</menu>