<header>
    <menu>
        <li><a href="/">Главная</a></li>
        <li><a href="/productList">Каталог товаров</a></li>
        if(isWorker)
            <li class="submenu">
                <span>Отчеты</span>
                <object data="../images/arrow-down.svg" type="image/svg+xml" class="icon-arrow-down"></object>
                <ul>
                    <li class="triangle"></li>
                    <li><a href="/productsReport">Товары</a></li>
                    <li><a href="/supplyOfProducts">Приход товаров</a></li>
                    <li><a href="/salesByRange">Продажи за период</a></li>
                    <li><a href="/salesPerDay">Продажи за день</a></li>
                    <li><a href="/personnel">Сотрудники</a></li>
                    <li><a href="/productCategory">Категории товаров</a></li>
                </ul>
            </li>
    </menu>
    <div class="my-profile-wrap submenu">
        if(successAuthentication)
            <span>#{userName}</span>
            <object data="../images/arrow-down.svg" type="image/svg+xml" class="icon-arrow-down"></object>
            <ul class="my-profile">
                <li class="triangle"></li>
                if(isWorker)
                    <li><a href="/addProduct">Добавить товар</a></li>
                    <li><a href="/addProductCategory">Добавить категорию</a></li>
                    <li><a href="/addWorker">Добавить сотрудника</a></li>
                    <li><a href="/addPosition">Добавить должность</a></li>
                    <li><a href="/arrivalOfGoods">Приход</a></li>
                else 
                    <li>
                        <a href="/myOrders">Мои заказы</a>
                        <object data="../images/list.svg" type="image/svg+xml"></object>
                    </li>
                    <li>
                        <a href="/myProfile">Мой профиль</a>
                        <object data="../images/settings_white.svg" type="image/svg+xml"></object>
                    </li>
                    <li>
                        <a href="/cart">Корзина</a>
                        <object data="../images/shopping-cart.svg" type="image/svg+xml"></object>
                    </li>
                <li class="log_off">
                    <a href="/logOff">Выйти</a>
                    <object data="../images/logout.svg" type="image/svg+xml"></object>
                </li>
            </ul>
        else
            <span class="sign-in"><a href="/signIn">Войти</a></span>
    </div>
    <script src="../menu.js"></script>
</header>
<div class="menu__btn-wrap">
    <div class="menu__btn">
        <span></span>
    </div>
</div>