<div class="my-profile">
    if(successAuthentication)
        <details class="details">
            <summary class="current-user">#{userName}</summary>
            <div class="dropdown-menu">
                <a href="signOut" class="sign-out">Выйти</a>
            </div>
        </details>
    else  
        <a href="signUp" class="signUp">Зарегистрироваться</a>
        <a href="signIn" class="signIn">Войти</a>
</div>